
<div class="container">
  <div class="card-work">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="card-work-left">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= cl_image_tag @work.cover.key, class: "d-block w-100"%>
                </div>
                <div class="carousel-item">
                  <%= cl_image_tag @work.previews.first.key, class: "d-block w-100"%>
                </div>
                <div class="carousel-item">
                  <%= cl_image_tag @work.previews.last.key, class: "d-block w-100"%>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-8">
        <div class="card-work-right">
          <div class="card-work-infos">
            <h2><%= @work.title %></h2>
            <br>
            <p><%= @work.description %></p>
          </div>
          <button type="button" class="btn-contact mt-5" data-toggle="modal" data-target="#exampleModal">
            Nous Contacter
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
