<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="d-flex justify-content-start">
    <div class="navbar-brand flex-grow-1">
      <%= link_to root_path do %>
        <%= image_tag "logolb.png" %>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="search mt-2">
      <%= form_tag works_path, method: :get, novalidate: "novalidate", class: "simple_form search"  do %>
        <div class="search-form-control form-group mt-1 mb-0">
          <%= text_field_tag :query,
              params[:query],
              class: "search-input form-control string required",
              id: "search_query",
              placeholder: "Nos réalisations",
              value: ""
          %>
          <%= button_tag(type: "submit", class: "btn btn-flat") do %>
            <i class="fas fa-search"></i> Search
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <% if user_signed_in? %>
      <ul class="navbar-nav pr-10">
        <a href="<%=new_work_path%>" class="btn-add-sesh">Nouveau</a>
        <a href="<%=about_path%>" class="btn-add-sesh">Atelier</a>
        <button type="button" class="btn-contact" data-toggle="modal" data-target="#exampleModal">
          Nous Contacter
        </button>
        <a class="btn-add-sesh"><%= link_to "Log out", destroy_user_session_path, method: :delete %></a>
      </ul>
    <% else %>
      <ul class="navbar-nav pr-10">
        <a href="<%=about_path%>" class="btn-add-sesh">Atelier</a>
        <button type="button" class="btn-contact" data-toggle="modal" data-target="#exampleModal">
          Nous Contacter
        </button>
      </ul>
    <% end %>
  </div>
</div>
<div class="margin-navbar">
</div>
