  <%= render 'shared/home-navbar' %>
  <%= render 'shared/banner' %>
  <br>
  <div class="cards">
    <%= link_to charpente_path do %>
    <div class="flip">
        <div class="front" style="background-image: url(../assets/charpente.jpeg)">
           <h1 class="text-shadow">CHARPENTE</hi>
        </div>
        <div class="back">
           <h2>Charpente</h2>
           <p>Une charpente est un assemblage de bois ou de métal, servant à soutenir ou couvrir des constructions et faisant partie de la toiture.</p>
        </div>
    </div>
    <% end %>
    <%= link_to agencement_path do %>
    <div class="flip">
        <div class="front" style="background-image: url(../assets/agencement.jpeg)">
           <h1 class="text-shadow">AGENCEMENT</hi>
        </div>
        <div class="back">
           <h2>Agencement</h2>
           <p>L'agencement magasin reflète l'image d'une marque ou lieu de vente à travers l'aménagement de l'espace d'exposition.</p>
        </div>
    </div>
    <% end %>
    <%= link_to fenetre_path do %>
      <div class="flip">
        <div class="front" style="background-image: url(../assets/window.jpeg)">
           <h1 class="text-shadow">FENETRE</hi>
        </div>
        <div class="back">
           <h2>Fenêtre</h2>
           <p>En architecture et construction, une fenêtre, châssis en français canadien, est une baie, une ouverture dans un mur ou un pan incliné de toiture, avec ou sans vitres.</p>
        </div>
      </div>
    <% end %>
    <%= link_to verriere_path do %>
      <div class="flip">
          <div class="front" style="background-image: url(../assets/verriere.jpg)">
             <h1 class="text-shadow">VERRIERE</hi>
          </div>
          <div class="back">
             <h2>Verrière</h2>
             <p>Aujourd’hui la verrière est très à la mode. De plus en plus de clients souhaitent installer une verrière d’atelier dans sa maison entre son salon et sa cuisine par exemple.</p>
          </div>
      </div>
    <% end %>
    <%= link_to surmesure_path do %>
      <div class="flip">
          <div class="front" style="background-image: url(../assets/meuble.jpg)">
             <h1 class="text-shadow">SUR MESURE</hi>
          </div>
          <div class="back">
             <h2>Meuble sur mesure</h2>
             <p>Atelier Menuisier est spécialiste dans la fabrication de meubles sur-mesure. Imaginer votre mobilier en bois massif unique afin d'optimiser votre espace.</p>
          </div>
      </div>
    <% end %>
    <%= link_to veranda_path do %>
      <div class="flip">
        <div class="front" style="background-image: url(../assets/veranda.jpeg)">
           <h1 class="text-shadow">VERANDA</hi>
        </div>
        <div class="back">
           <h2>Véranda extérieur</h2>
           <p>Une véranda désigne une pièce à vivre généralement située dans le prolongement de l'habitation principale, en ouverture du jardin.</p>
        </div>
      </div>
    <% end %>
    <%= link_to about_path do %>
      <div class="flip">
        <div class="front" style="background-image: url(../assets/atelier.jpeg)">
           <h1 class="text-shadow">NOTRE ATELIER</h1>
        </div>
        <div class="back">
           <h2>Notre Atelier</h2>
           <p>Découvrez notre atelier dans lequel sont conçus et réalisés vos projets de demain.</p>
        </div>
      </div>
    <% end %>
  </div>
