  <%= render 'shared/home-navbar' %>
  <%= render 'shared/banner' %>
  <br>
  <div class="cards">
    <%= link_to charpente_path do %>
    <div class="flip">
        <div class="front" style="background-image: url(../assets/charpente.jpeg)">
           <h1 class="text-shadow">CHARPENTE</hi>
        </div>
        <div class="back">
           <h2>Charpente</h2>
           <p>Une charpente est un assemblage de bois ou de métal, servant à soutenir ou couvrir des constructions et faisant partie de la toiture. C'est une ossature porteuse ponctuelle, par opposition à la structure linéaire que constitue un mur continu.</p>
        </div>
    </div>
    <% end %>
    <%= link_to agencement_path do %>
    <div class="flip">
        <div class="front" style="background-image: url(../assets/agencement.jpeg)">
           <h1 class="text-shadow">AGENCEMENT</hi>
        </div>
        <div class="back">
           <h2>Agencement</h2>
           <p>L'agencement magasin reflète l'image d'une marque ou lieu de vente à travers l'aménagement de l'espace d'exposition.La vitrine est le premier outil de communication visuelle avec votre clientèle : elle doit donner envie aux passants de pousser la porte de votre magasin.</p>
        </div>
    </div>
    <% end %>
    <%= link_to verriere_path do %>
      <div class="flip">
          <div class="front" style="background-image: url(../assets/verriere.jpg)">
             <h1 class="text-shadow">VERRIERE</hi>
          </div>
          <div class="back">
             <h2>Verrière</h2>
             <p>Aujourd’hui, le style véranda ou toute forme de couverture transparente est très aisée à concevoir grâce aux différents profilés disponibles dans le commerce, qu’ils soient en acier, en aluminium, en PVC ou en bois, traités ou non, à l’assemblage simple.</p>
          </div>
      </div>
    <% end %>
    <%= link_to surmesure_path do %>
      <div class="flip">
          <div class="front" style="background-image: url(../assets/meuble.jpg)">
             <h1 class="text-shadow">SUR MESURE</hi>
          </div>
          <div class="back">
             <h2>Meuble sur mesure</h2>
             <p>Atelier LB est spécialiste dans la fabrication de meubles sur-mesure. Imaginer votre mobilier en bois massif unique afin d'optimiser votre espace.</p>
          </div>
      </div>
    <% end %>
    <%= link_to vitrine_path do %>
      <div class="flip">
        <div class="front" style="background-image: url(../assets/vitrine.jpg)">
           <h1 class="text-shadow">VERANDA</hi>
        </div>
        <div class="back">
           <h2>Véranda extérieur</h2>
           <p>Une véranda désigne une pièce à vivre généralement située dans le prolongement de l'habitation principale, en ouverture du jardin.</p>
        </div>
      </div>
    <% end %>
    <%= link_to about_path do %>
      <div class="flip">
        <div class="front" style="background-image: url(../assets/atelier.jpeg)">
           <h1 class="text-shadow">NOTRE ATELIER</h1>
        </div>
        <div class="back">
           <h2>Notre Atelier</h2>
           <p>Découvrez notre atelier dans lequel sont conçus et réalisés vos projets de demain.</p>
        </div>
      </div>
    <% end %>
  </div>
